@import '@/styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-width: $breakpoint-sm;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #333;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
