@import './variables.scss';

body {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: $font-style;

  .container {
    max-width: 1440px;
    margin: auto;
  }

  h1,
  h2,
  h3 {
    font-size: 76px;
    line-height: 76px;
    font-family: 'Oswald';
    font-weight: 600;
  }

  p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }
}

.swiper-button-prev {
  background-color: $primary-black;
  color: $primary-white !important;
  left: -55px !important;
  width: 40px !important;
  top: 30% !important;
  border-radius: 5px;

  @media screen and (max-width: 1024px) {
    left: -30px !important;
  }

  &::after {
    content: 'prev';
    font-size: 12px !important;
  }
}

.swiper-button-next {
  background-color: $primary-black;
  color: $primary-white !important;
  right: -55px !important;
  width: 40px !important;
  top: 30% !important;
  border-radius: 5px;

  @media screen and (max-width: 1024px) {
    right: -30px !important;
  }

  &::after {
    content: 'next';
    font-size: 12px !important;
  }
}
