@import '../../styles/variables.scss';

.wrapper {
  background-color: $primary-black;
  display: flex;
  justify-content: center;

  align-items: center;

  &__container {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    input {
      width: 100%;
      height: 45px;
      border-radius: 45px;
      border: none;
      color: red;
      text-align: center;
      &:focus-visible {
        border: none;
        outline: none;
      }

      &::placeholder {
        font-weight: 700;
        color: $primary-black;
        background-position: 31%;
        background-image: url('../../assets/icons/search.svg');
        background-size: 16px;
        background-repeat: no-repeat;
      }
    }

    &__nav {
      padding: 24px 0 8px;
      color: $primary-white;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 12px;
      span {
        padding: 8px;
      }
    }
  }
}
