@import '@/styles/variables';

.trendingProducts {
  height: 400px;
  padding-inline: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 4.75rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    font-size: clamp(1.5rem, 5vw, 4.75rem);
    padding-bottom: 40px;
  }

  @media (min-width: $breakpoint-md) {
    padding: 1.25rem 2.5rem;
  }
}
