@import '../../styles/variables.scss';

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: $primary-grey;
  font-weight: 600;
  padding: 24px 0;

  ol {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: '/';
      margin: 0 8px;
      color: $primary-grey;
    }

    a {
      color: $primary-grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: bold; // Style for the last item
      color: $primary-black;
    }
  }
}
